$tipografia-titulos: 'Sofia Sans Condensed', sans-serif;
$tipografia-textos: 'Sofia Sans Semi Condensed', sans-serif;

$color-texto-principal: rgb(255, 255, 255) ;
$color-texto-secundario: rgb(255, 165, 0);
$back-principal: rgba(34,34,34,1);


