.page-5{
    margin: 0 auto;
    background: linear-gradient(360deg, rgba(34,34,34,1) 7%, rgba(34,34,34,0.8) 13%, rgba(34,34,34,0.05) 23%),
    url(../assets/images/img-back-contacto.jpg); 
    background-size: cover;
    height: 105vh;
    background-repeat: no-repeat;
}
.form-register {
	width: 450px;
	background: rgba(24,24,24,1);
	padding: 30px;
	margin: auto;
	margin-top: 60px;
	margin-bottom: 60px;
	border-radius: 5px;
	height: 500px;
	font-family: $tipografia-textos;
	color: $color-texto-principal;
	h4 {
		font-size: 30px;
		margin-bottom: 25px;
		color: $color-texto-secundario;
	}
	p {
		height: 30px;
		text-align: center;
		line-height: 20px;
	}
	a {
		color: $color-texto-principal;
		text-decoration: none;
		&:hover {
			color: $color-texto-principal;
			text-decoration: underline;
		}
	}
	.boton {
		width: 100%;
		background: rgb(255, 255, 255);
		padding: 12px;
		margin: 16px 0;
		font-size: 16px;
	}
}
.controls {
	width: 100%;
	background-color: $color-texto-principal;
	padding: 10px;
	border-radius: 5px;
	margin-bottom: 20px;
	border: 1px solid orange;
	font-size: 16px;
}