.page-3{
    margin: 0 auto;
    background: linear-gradient(360deg, rgba(34,34,34,1) 7%, rgba(34,34,34,0.8) 13%, rgba(34,34,34,0.05) 23%),
    url(../assets/images/img-back-tour.jpg); 
    background-size: cover;
    height: 100%;
    background-repeat: no-repeat;
}
.container-tour {
	max-width: 1200px;
	margin: 0 auto;
    padding-bottom: 20px;
	h2 {
		text-align: center;
		margin: 20px;
		font-family: $tipografia-titulos;
		color: $color-texto-secundario;
		font-size: 40px;
	}
	p {
		color: $color-texto-principal;
		font-family: $tipografia-textos;
	}
}
.tour {
	display: flex;
	text-align: center;
	margin-top: 20px;
	justify-content: space-between;
	img {
		max-width: 45%;
		border-radius: 10px;
	}
}
.tour-1 {
	max-width: 50%;
    background-color: rgba(24, 24, 24, 0.300);
    border-radius: 20px;
}
.tour-2 {
	max-width: 50%;
    background-color: rgba(24,24,24, 0.300);
    border-radius: 20px;
}
.tour-3 {
	max-width: 50%;
    background-color: rgba(24,24,24, 0.300);
    border-radius: 20px;
}